- if notice
  %p#notice= notice

%h1 Your pragmatic Catalog

- cache ['store', Product.latest] do
  - @products.each do |product|
    - cache ['entry', product] do
      .entry
        = image_tag product.image_url
        %h3= product.title
        = sanitize product.description
        .price_line.brrr
          %span.price= number_to_currency product.price