!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Depot
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body{ class: controller.controller_name }
    #banner
      = image_tag "logo.png"
      = @page_title || "Pragmatic bookshelf"
    #columns
      #side
        .time
          it is now #{Time.new}
        - if @cart
          = hidden_tag_if(@cart.line_items.empty?, id: 'cart') do
            = render @cart
        %ul
          %li= link_to "Home", "http://..."
          %li= link_to "Questions", "http://.../faq"
          %li= link_to "News", "http://.../news"
          %li= link_to "Contact", "http://.../contact"
      #main
        = yield
